* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cal-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
}

.btn-container {
  display: flex;
  justify-content: space-around;
  position: relative;
}

input {
  width: 100%;
  height: 35px;
  text-align: end;
}

button {
  width: 100px;
  height: 35px;
}